{
    "semi": true,
    "singleQuote": true,
    "singleAttributePerLine": false,
    "htmlWhitespaceSensitivity": "css",
    "printWidth": 150,
    "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
    "tailwindFunctions": ["clsx", "cn"],
    "tabWidth": 4,
    "overrides": [
        {
            "files": "**/*.yml",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "**/*.vue",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "**/*.ts",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "**/*.tsx",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "**/*.js",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
